<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<body>
<%- include('partials/_header.ejs') %>
<main role="main">
  <div class="container mt-5">
    <h2>Password Reset</h2>
    <form action="/auth/passwordReset" method="POST">
      <input type="hidden" name="token" value="<%= token %>">
      <div class="mb-3">
        <input type="password" name="newPassword" placeholder="New Password" required class="form-control">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </div>
    </form>
  </div>
</main>
<%- include('partials/_footer.ejs') %>
</body>
</html>