<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<body>
<%- include('partials/_header.ejs') %>
<main role="main">
  <div class="container mt-5">
    <h2>Password Reset Request</h2>
    <form action="/auth/passwordResetRequest" method="POST">
      <div class="mb-3">
        <input type="email" name="email" placeholder="Enter your email" required class="form-control">
      </div>
      <div class="mb-3">
        <button type="submit" class="btn btn-primary">Request Password Reset</button>
      </div>
    </form>
  </div>
</main>
<%- include('partials/_footer.ejs') %>
</body>
</html>